<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamdigitizers.drugmanagement">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:glEsVersion="0x00020000"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".ApplicationBase"
        android:allowBackup="true"
        android:icon="@mipmap/icon__app_logo"
        android:label="@string/title__app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.implementations.activities.ActivityStart"
            android:theme="@style/FullScreenTheme"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/title__app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".views.implementations.activities.ActivityMain"
            android:windowSoftInputMode="stateUnspecified|adjustResize"
            android:configChanges="orientation|screenSize|locale"
            android:label="@string/title__app_name">
        </activity>

        <activity
            android:name=".views.implementations.activities.ActivityAlarm"
            android:theme="@style/FullScreenTheme"
            android:configChanges="orientation|screenSize|locale">
        </activity>

        <activity
            android:name=".views.implementations.activities.ActivityCamera"
            android:theme="@style/FullScreenTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|locale">
        </activity>

        <provider
            android:name=".data.ContentProviderMedicine"
            android:authorities="com.dreamdigitizers.drugmanagement.contentprovider">
        </provider>

        <receiver android:name=".views.implementations.receivers.ReceiverBoot" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
